@mixin enlaces {
  text-decoration: underline;
  color:white
}

header {
    background-color: $color-rojo ;
    height: 95px;
    width: 100%;
    padding: 25px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
  }
  
  .logo {
    float: left;
    margin-left: 30px;
  }
  
  .barra {
    float: right;
  
    ul li {
      list-style: none;
      display: inline-block;
    }
  
    a {
      @include enlaces;
      
      margin-right: 20px;
    }
  }